<?xml version="1.0"?>

<robot name="bipedbot" xmlns:xacro="http://ros.org/wiki/xacro">


    <!-- Wheels -->
    <gazebo reference="left_tyre_1">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>100000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
    </gazebo>

    <gazebo reference="right_tyre_1">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>100000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
    </gazebo>

</robot>